<form class="form" action="result" method="post">
    <div>Customer Survey</div>
        How would you rate your experience? <br>
        1 <input type="radio" name="rating" value=1 checked> 
        2 <input type="radio" name="rating" value=2> 
        3 <input type="radio" name="rating" value=3> 
        4 <input type="radio" name="rating" value=4> 
        5 <input type="radio" name="rating" value=5>  <br>

        Would you like to leave us a message? <br>
        <input type="text" name="message1"> <br>

        Which of these product would you be likely to buy? <br>
        <select name='products'> 
        <option value = 'esimerkki 1'>Esimerkki1 </option>
        <option value = 'esimerkki 2'>Esimerkki2 </option>
        </select>

        Why would you choose this product? <br>
        <input type="text" name="message2"> <br>

        <input type="submit" value="Submit">
</form>